body {
  background-color: black;
  background-color: var(--background-color);
  margin: 0;
  color: #eee;
  color: var(--text-color);
  font-size: 32px;
  font-size: var(--font-size);
  font-family: "Open Sans Condensed", sans-serif;
}

body.hide-cursor {
  cursor: none;
}

.hidden {
  display: none !important;
}

#chat-container {
  overflow: hidden;
  height: 100vh;
}

#chat {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 100vh;
}

body.reverse-order #chat {
  flex-direction: column;
  margin-top: 100vh;
  margin-bottom: 0;
}

#chat > div {
  padding: 3px 1px 3px 6px;
  line-height: 35px;
  line-height: calc(var(--font-size) + 3px);
  border-bottom: #444 solid 1px;
  border-bottom-color: var(--separator-color);
}
#chat > div:nth-child(odd) {
  background-color: #111;
  background-color: var(--odd-background-color);
}

#chat .deleted {
  font-style: italic;
}

#chat:not(.hide-timestamps) .timestamp {
  margin-right: 5px;
}

#chat img {
  max-width: 100%;
  max-height: 50vh;
  max-height: var(--inline-images-height);
  color: inherit;
  margin: 0;
  vertical-align: baseline;
}

#chat img.user-image {
  vertical-align: top;
  padding: 4px;
}

#chat img.user-image:not(.loaded) {
  display: none;
}

#chat .image-loading {
  font-style: italic;
  font-size: 80%;
}

#chat div.tweet-embed {
  display: inline-block;
  width: 550px;
}

#chat .chat-user:after {
  color: #eee;
  color: var(--text-color);
  font-weight: 300;
}

#chat .chat-user:not(.action):after {
  content: ': ';
}

#chat .chat-user.action:after {
  content: '  ';
}

#chat .chat-user {
  color: green;
  color: var(--user-color);
  font-weight: 700;
}

#chat .chat-user.moderator {
  color: #8383f9;
  color: var(--moderator-color);
}

#chat.align-messages .chat-user {
  flex-basis: 270px;
  flex-shrink: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  padding-right: 5px;
}

#chat.align-messages div {
  display: flex;
}

#chat.align-messages div span {
  display: block;
}

#chat > div.highlight, #chat > div.notice {
  padding-left: 12px;
  border-left: 6px solid;
}

#chat > div.highlight {
  border-left-color: #731180;
  border-left-color: var(--highlight-color);
  background-color: #73118030;
  background-color: var(--highlight-background-color);
}

#chat > div.notice {
  border-left-color: #eee;
  border-left-color: var(--notice-color);
  background-color: #eeeeee30;
  background-color: var(--notice-background-color);
}

#chat > div.channel {
  border-left-color: #0d86ff;
  border-left-color: var(--channel-color);
  background-color: #0d86ff30;
  background-color: var(--channel-background-color);
}

#chat a, #settings a {
  color: inherit;
}

#chat .cheer, #chat .cheer img {
  margin-right: 5px;
  font-weight: 700;
}

#chat .cheer-1 {
  color: gray;
}
#chat .cheer-100 {
  color: cyan;
}
#chat .cheer-500 {
  color: blue;
}
#chat .cheer-1000 {
  color: red;
}
#chat .cheer-10000 {
  color: yellow;
}

#chat .emoticon {
  height: calc(var(--font-size) - 2px);
  object-fit: contain;
  vertical-align: bottom;
}

#chat .counter {
  font-weight: bold;
  float: right;
  font-size: 80%;
  transition: 1s;
  padding-right: 10px;
}
#chat .counter.bump {
  transition: 0.1s;
  font-size: 150%;
}

#chat.hide-timestamps .timestamps {
  display: none;
}

#commands {
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
}

body.reverse-order #commands {
  bottom: auto;
  top: 5px;
}

#fullscreen, #settings-wheel {
  z-index: 10;
  opacity: 0.3;
  margin-left: 25px;
  cursor: pointer;
}
#fullscreen:hover, #settings-wheel:hover, #settings-wheel.open {
  opacity: 1;
}

body.reverse-order #settings-wheel {
  top: 5px;
  bottom: auto;
}

#fps {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 2px solid #eee;
  border-color: var(--text-color);
  border-radius: 10px;
  width: 3em;
  text-align: center;
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

body.show-message-entry #fps {
  top: calc(15px + var(--font-size));
}

body.reverse-order #fps {
  top: auto;
  bottom: 15px;
}

body.show-message-entry.reverse-order #fps {
  bottom: calc(15px + var(--font-size));
}

.notifications {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.reverse-order .notifications {
  bottom: auto;
  top: 10px;
}

.notifications div {
  border: 2px solid #eee;
  border-color: var(--text-color);
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

#settings {
  position: absolute;
  right: 20px;
  bottom: var(--font-size);
  left: 20px;
  margin-bottom: 15px;
  padding: 20px;
  max-height: 50vh;
  overflow-y: auto;
  border: 3px solid #444;
  border-color: var(--separator-color);
  background-color: black;
  background-color: var(--background-color);
  z-index: 9999;
}

body.reverse-order #settings {
  top: 60px;
  bottom: auto;
}

#settings h2 {
  margin-top: 0;
  text-align: center;
}

#settings h3 {
  padding: 5px 20px;
  background-color: var(--background-color);
  margin: 0;
}

#settings > div {
  background-color: #111;
  background-color: var(--odd-background-color);
  padding: 10px;
}

#settings > div > div {
  margin: 10px 0;
}

#settings .fields {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#settings .fields.centered > div {
  text-align: center;
}

#settings .fields .style-preview {
  border: 2px solid var(--text-color);
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-color);
  cursor: pointer;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settings .fields .style-preview.active {
  opacity: 1;
  border-color: var(--highlight-color);
  background-color: var(--highlight-background-color);
}

#settings .fields .style-preview:not(.active):hover {
  opacity: 1;
}

#settings .subfield {
  margin-top: 5px;
  margin-left: 40px;
  border-left: 5px solid #eee;
  border-color: var(--text-color);
  padding-left: 10px;
}

#settings label.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#settings input, #settings button, #message-entry input {
  font-size: 0.625em;
  vertical-align: bottom;
  color: inherit;
}

#settings button:disabled {
  opacity: 0.5;
  cursor: default;
}

#settings input[type="checkbox"] {
  appearance: none;
  border: 2px solid #eee;
  border-color: var(--text-color);
  text-align: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#settings input[type="checkbox"]:checked::after {
  content: "\2713";
  font-weight: 700;
}

#settings input[type="number"], #settings input[type="text"], #settings input[type="password"], #settings input[type="submit"], #settings button, #message-entry input {
  height: 32px;
  height: var(--font-size);
  padding: 0 5px;
  border: 2px solid #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
  max-width: 95%;
}

#settings input[type="submit"], #settings button, #message-entry input[type="submit"] {
  height: 38px;
  height: calc(var(--font-size) + 4px);
  padding: 0 15px;
  border-radius: 8px;
  cursor: pointer;
}

#settings input[type="submit"]:hover, #settings input[type="submit"]:active, #settings button:hover, #settings button:active, #message-entry input[type="submit"]:hover, #message-entry input[type="submit"]:active {
  background-color: #111;
  background-color: var(--odd-background-color);
}

#settings input[type="number"]:invalid, #settings input[type="text"]:invalid, #settings input[type="password"]:invalid {
  border-color: red;
}

#settings input[type="color"] {
  appearance: none;
  border: 2px solid #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
  padding: 5px;
  height: 32px;
  cursor: pointer;
}

#settings select {
  font-size: 0.625em;
  color: #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
}

#curtain {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.show-message-entry:not(.reverse-order) #commands {
  bottom: calc(9px + var(--font-size));
}

body.show-message-entry.reverse-order #commands {
  top: calc(9px + var(--font-size));
}

body.show-message-entry .notifications {
  bottom: calc(14px + var(--font-size));
}

body.show-message-entry:not(.reverse-order) #settings {
  bottom: calc(var(--font-size) * 2);
}

body.show-message-entry.reverse-order #settings {
  top: calc(60px + var(--font-size));
}

body:not(.show-message-entry) #message-entry {
  display: none;
}

#message-entry {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  height: calc(4px + var(--font-size));
  background-color: black;
  background-color: var(--background-color);
}

body.reverse-order #message-entry {
  bottom: auto;
  top: 0;
}

#message-entry span {
  font-size: 0.8em;
}

#message-entry input[type="text"] {
  flex-grow: 1;
  margin: 0 5px;
}

#message-username:after {
  content: ': ';
}

.help:before {
  content: '?';
  border-radius: 50%;
  background-color: #eee;
  background-color: var(--text-color);
  color: black;
  color: var(--background-color);
  font-weight: bold;
  padding: 0 0.5em;
  font-size: 0.5em;
  cursor: pointer;
  vertical-align: super;
}
.help:after {
  content: attr(data-title);
  display: none;
  border: 1px solid #eee;
  border-color: var(--text-color);
  margin: 15px;
  color: #eee;
  color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
  padding: 4px;
}
.help.visible:after {
  display: block;
}

.help:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.3s;
  visibility: visible;
}