body {
  background-color: black;
  background-color: var(--background-color);
  margin: 0;
  color: #eee;
  color: var(--text-color);
  font-size: 32px;
  font-family: "Open Sans Condensed", sans-serif;
}

.hidden {
  display: none;
}

#chat-container {
  overflow: hidden;
  height: 100vh;
}

#chat {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 0;
  margin-bottom: 100vh;
}

.reverse-order #chat {
  flex-direction: column;
  margin-top: 100vh;
  margin-bottom: 0;
}

#chat > div {
  padding: 3px 1px 3px 6px;
  line-height: 35px;
  border-bottom: #444 solid 1px;
  border-bottom-color: var(--separator-color);
}
#chat > div:nth-child(odd) {
  background-color: #111;
  background-color: var(--odd-background-color);
}

#chat .deleted {
  font-style: italic;
}

#chat .timestamp {
  margin-right: 5px;
}

#chat img {
  max-width: 100%;
  max-height: 50vh;
  max-height: var(--inline-images-height);
  color: inherit;
  margin: 0;
  vertical-align: baseline;
}

#chat img.user-image {
  vertical-align: bottom;
  padding: 4px;
}

#chat .chat-user:after {
  content: ': ';
  color: #eee;
  color: var(--text-color);
  font-weight: 300;
}

#chat .chat-user {
  color: green;
  color: var(--user-color);
  font-weight: 700;
}

#chat .chat-user.moderator {
  color: #8383f9;
  color: var(--moderator-color);
}

#chat > div.highlight, #chat > div.notice {
  padding-left: 12px;
  border-left: 6px solid;
}

#chat > div.highlight {
  border-left-color: #731180;
  border-left-color: var(--highlight-color);
  background-color: #73118030;
  background-color: var(--highlight-background-color);
}

#chat > div.notice {
  border-left-color: #eee;
  border-left-color: var(--notice-color);
  background-color: #eeeeee30;
  background-color: var(--notice-background-color);
}

#chat > div.channel {
  border-left-color: #0d86ff;
  border-left-color: var(--channel-color);
  background-color: #0d86ff30;
  background-color: var(--channel-background-color);
}

#chat a {
  color: inherit;
}

#chat .cheer, #chat .cheer img {
  margin-right: 5px;
  font-weight: 700;
}

#chat .cheer-1 {
  color: gray;
}
#chat .cheer-100 {
  color: cyan;
}
#chat .cheer-500 {
  color: blue;
}
#chat .cheer-1000 {
  color: red;
}
#chat .cheer-10000 {
  color: yellow;
}

#chat .emoticon {
  width: 28px;
  height: 28px;
}

#chat .counter {
  font-weight: bold;
  float: right;
  font-size: 80%;
  transition: 1s;
  padding-right: 10px;
}
#chat .counter.bump {
  transition: 0.1s;
  font-size: 150%;
}

#settings-wheel {
  position: absolute;
  z-index: 10;
  right: 5px;
  bottom: 5px;
  opacity: 0.3;
  cursor: pointer;
}
#settings-wheel:hover, #settings-wheel.open {
  opacity: 1;
}

.reverse-order #settings-wheel {
  top: 5px;
  bottom: auto;
}

#fps {
  position: absolute;
  right: 15px;
  top: 15px;
  border: 2px solid #eee;
  border-color: var(--text-color);
  border-radius: 10px;
  width: 3em;
  text-align: center;
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

.reverse-order #fps {
  top: auto;
  bottom: 15px;
}

#settings {
  position: absolute;
  right: 20px;
  bottom: 32px;
  left: 20px;
  margin-bottom: 15px;
  padding: 20px;
  max-height: 50vh;
  overflow-y: auto;
  border: 3px solid #444;
  border-color: var(--separator-color);
  background-color: black;
  background-color: var(--background-color);
  opacity: 0.9;
}

.reverse-order #settings {
  top: 60px;
  bottom: auto;
}

#settings h2 {
  margin-top: 0;
  text-align: center;
}

#settings h3 {
  padding: 5px 20px;
  background-color: #000;
  border-color: var(--background-color);
  margin: 0;
}

#settings > div {
  background-color: #111;
  background-color: var(--odd-background-color);
  padding: 10px;
}

#settings .fields {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#settings .fields.style > div {
  text-align: center;
}

#settings .subfield {
  margin-top: 5px;
  margin-left: 40px;
  border-left: 5px solid #eee;
  border-color: var(--text-color);
  padding-left: 10px;
}

#settings input, #settings button {
  font-size: 0.625em;
  vertical-align: bottom;
  color: inherit;
}

#settings button:disabled {
  opacity: 0.5;
  cursor: default;
}

#settings input[type="checkbox"] {
  appearance: none;
  border: 2px solid #eee;
  border-color: var(--text-color);
  text-align: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

#settings input[type="checkbox"]:checked::after {
  content: "\2713";
  font-weight: 700;
}

#settings input[type="number"], #settings input[type="text"], #settings input[type="submit"], #settings button {
  height: 32px;
  padding: 0 5px;
  border: 2px solid #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
}

#settings button {
  cursor: pointer;
}

#settings input[type="number"]:invalid, #settings input[type="text"]:invalid {
  border-color: red;
}

#settings input[type="color"] {
  appearance: none;
  border: 2px solid #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
  padding: 5px;
  height: 32px;
  cursor: pointer;
}

#settings select {
  font-size: 0.625em;
  color: #eee;
  border-color: var(--text-color);
  background-color: black;
  background-color: var(--background-color);
}